
{% extends 'ProjetDarnaBundle::layout9.html.twig' %}
{% block ptitre %} Modifier administrateur{% endblock %}
{% block content %}
    <h1> modifier un Administrateur </h1>
{{ form (form) }}
  {{ socialButtons() }}
{% endblock %}
