{% extends 'ProjetDarnaBundle::layout9.html.twig' %}
{% block ptitre %} Espace Administrateur{% endblock %}
{% block content %}
    <div align="center"><h1>Espace Administrateur</h1></div>
    
     {% endblock %}
    